
	body {
		padding-top: 80px;
		height: auto;
	}

	#custom-navbar {
		background-color: #611474;
	}

	.custom-panel {
		color: #640F7F;
		border-color: #8E44AD;
	}

	.custom-panel > .panel-heading {
		color: #ffffff;
		background-color: #8E44AD;
		border-color: #8E44AD;
	}

	.custom-list {
		background-color: #8E44AD;
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 5px;
		list-style: none;
		line-height: 30px;
	}

	.custom-list > li > a {
		color: #ffffff;
	}

	.custom-sublist > li {
		margin-left: -40px;
	}

	.custom-sublist > li > label {
		color: #ffffff;
	}

	#guitar_information > p {
		font-size: 18px;
		font-weight: normal;
	}

	#aboutus {
		text-align: center;
		background-color: transparent;
	}

